{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Bienvenue sur votre tableau de bord' %}

{% block page_content %}
    <style>
        p {
            max-width: 600px;
        }
    </style>

    <div class="container">
        {# Affiche le total encaissé sur l'année en cours #}
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h2 class="text-white">Total Encaissé</h2>
                    </div>
                    <div class="card-body">
                        {% set totalEncaisse = 0 %}
                        {% for total in totalAdvances %}
                            {% set totalEncaisse = totalEncaisse + total.totalAdvances %}
                        {% endfor %}
                        {% for totalFactured in totalFacturedRemaining %}
                            {% set totalEncaisse = totalEncaisse + totalFactured.total %}
                        {% endfor %}
                        <h2 class="text-center"> {{ totalEncaisse | number_format('2', ',', ' ') }}€</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="card">
                    <div class="card-header bg-danger text-white">
                        <h2 class="text-white">Total restant dû</h2>
                    </div>
                    <div class="card-body">
                        {% set totalCrd = 0 %}
                        {% for total in totalRemaining %}
                            {% set totalCrd = totalCrd + total.total %}
                        {% endfor %}
                        {% set totalCrd = totalCrd + totalRemainingPreviousYear[0].total %}
                        <h2 class="text-center"> {{ totalCrd | number_format('2', ',', ' ') }}€</h2>
                    </div>
                </div>
            </div>
        </div>
        <body>
        <hr>
        <h2 class="mt-3">Acomptes</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="text-center" scope="col">Date</th>
                <th class="text-center" scope="col">Client</th>
                <th class="text-center" scope="col">Montant TTC</th>
                <th class="text-center" scope="col">Moyen de paiement</th>
                <th class="text-center" scope="col">Total acomptes encaissés à cette date</th>

            </tr>
            </thead>
            <tbody>
            {% set totalAcomptes = 0 %}
            {% for advance in advances_list %}
                {% if advance.invoice is not null and advance.createdAt | date('Y') == year %}
                    {% set totalAcomptes = totalAcomptes + advance.amount %}
                    <tr>
                        <th class="text-center" scope="row">{{ advance.createdAt | date('d-m-Y') }}</th>
                        <td class="text-center">{{ advance.invoice.customer.firstname }} {{ advance.invoice.customer.lastname }}</td>
                        <td class="text-center">{{ advance.amount | number_format('2', ',', ' ') }} €</td>
                        <td class="text-center">{{ advance.meansPayment }}</td>
                        <td class="text-center">{{ totalAcomptes | number_format('2', ',', ' ') }} € </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <hr>
        <h2 class="mt-2">Factures Soldées</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="text-center" scope="col">Date</th>
                <th class="text-center" scope="col">Client</th>
                <th class="text-center" scope="col">Montant TTC</th>
                <th class="text-center" scope="col">Moyen de paiement</th>
                <th class="text-center" scope="col">Total factures encaissées à cette date</th>

            </tr>
            </thead>
            <tbody>
            {% if totalRemainingPreviousYear[0].total is not null %}
                <tr>
                    <th class="text-center" scope="row"> {{ year | date_modify("-1 year") | date('Y') }} </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="text-center"> {{ totalRemainingPreviousYear[0].total }}</th>
                </tr>
            {% endif %}
            {% set totalInvoices = 0 %}
            {% for invoice in invoices_list %}
                {% if invoice.state == true %}
                    {% set totalInvoices = totalInvoices + invoice.remainingCapital %}
                    <tr>
                        <th class="text-center" scope="row">{{ invoice.createdAt | date('d-m-Y') }}</th>
                        <td class="text-center">{{ invoice.customer.firstname }} {{ invoice.customer.lastname }}</td>
                        <td class="text-center">{{ invoice.remainingCapital | number_format('2', ',', ' ') }} €</td>
                        <td class="text-center">{{ invoice.meansPayment }}</td>
                        <td class="text-center">{{ totalInvoices | number_format('2', ',', ' ') }} € </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>


        <a href="{{ path('home') }}" class="btn btn-primary">Retour à l'accueil</a>
        <span onclick="window.print()" class="btn btn-warning">Générer récapitulatif CA</span>

        </body>
    </div>


{% endblock %}
