


{% block body %}
    <div class="container">
        <!doctype html>
        <html lang="fr">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport"
                  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Document</title>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
                  integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        </head>
        <body>
        <h1 class="text-center mb-5">Récapitulatif de l'année en cours </h1>
        {% if totalAdvances | last.year is defined %}
            <h3 class="text-center">Acomptes encaissés {{ totalAdvances | last.year }}</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Mois</th>
                    <th scope="col">Montant</th>
                </tr>
                </thead>
                <tbody>
                {% set totalAcomptes = 0 %}
                {% for advance in totalAdvances %}
                    {% set totalAcomptes = totalAcomptes + advance.totalAdvances %}
                    <tr>
                        <td>{{ advance.month }}</td>
                        <td>{{ advance.totalAdvances }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="card mb-5">
                <h4>Total Acomptes Encaissés : {{ totalAcomptes }}€</h4>
            </div>
        {% else %}
            <hr>
            <h3>Pas de factures d'acompte encaissées sur cette période</h3>
            <hr>
        {% endif %}

        {% if totalFacturedRemaining | last.year is defined %}
            <h3 class="text-center">Factures finales encaissées {{ totalFacturedRemaining | last.year }}</h3>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Mois</th>
                    <th scope="col">Montant</th>
                </tr>
                </thead>
                <tbody>
                {% set totalfactures = 0 %}
                {% for total in totalFacturedRemaining %}
                    {% set totalfactures = totalfactures + total.total %}
                    <tr>
                        <td>{{ total.month }}</td>
                        <td>{{ total.total }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="card mb-5">
                <h4>Total factures finales : {{ totalfactures }}€</h4>
            </div>
        {% else %}
        <div class="card mb-5">
            <h4>Pas de factures finales encaissées sur cette période</h4>
        </div>
        {% endif %}


        {% if totalRemaining | last.year is defined %}
            <h3 class="text-center">Restant dû {{ totalRemaining | last.year }}</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Facture du mois</th>
                    <th scope="col">Montant</th>
                </tr>
                </thead>
                <tbody>

                {% set totalRemainingYear = 0 %}
                {% for total in totalRemaining %}
                    {% set totalRemainingYear = totalRemainingYear + total.total %}
                    <tr>
                        <td>{{ total.month }}</td>
                        <td>{{ total.total }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="card mb-5">
                <h4>Total restant dû (Année en cours) : {{ totalRemainingYear }}€</h4>
            </div>
        {% else %}
            <div class="card mb-5">
                <h4>Pas de restant dû de cette année</h4>
            </div>
        {% endif %}

        {% if totalRemainingPreviousYear[0].total is defined %}
            <div class="card mb-5">
                <h4>Total restant dû (Année précédente) : {{ totalRemainingPreviousYear[0].total }}€</h4>
            </div>
        {% else %}
            <div class="card mb-5">
                <h4>Pas de restant dû de l'année précédente</h4>
            </div>
        {% endif %}

        </body>
        </html>
    </div>

{% endblock %}
