{% extends 'base.html.twig' %}

{% block title %} Devis de ... {% endblock %}

{% block body %}

    <div class="container-fluid estimate" style=" background-image: url({{ asset('img/bg-masthead.jpg') }});">
        <div class="container">
            <h2 class="text-white mt-5">Devis de {{ estimate.customer.firstname }} {{ estimate.customer.lastname }}</h2>
            <div class="container pb-5">
                <table class="table ">
                    <thead class="bg-secondary text-white">
                    <tr>
                        <th scope="col">Prestations</th>
                        <th scope="col">PU (HT)</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">TVA</th>
                        <th scope="col">Total HT</th>
                        <th scope="col">Total TTC</th>
                    </tr>
                    </thead>
                    <tbody class="bg-light">
                    {% for description in estimate.descriptions %}
                        <tr>
                            <td>{{ description.prestation }}</td>
                            <td>{{ description.unitPrice | number_format(2, '.', ',') }} €</td>
                            <td>{{ description.quantity }}</td>
                            <td>{{ description.tva }}</td>
                            <td>{{ description.totalHt | number_format(2, '.', ',') }} €</td>
                            <td>{{ description.totalTtc | number_format(2, '.', ',') }} €</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                    <div class="col-md-3 bg-light ml-auto p-3 mb-1">
                        Total HT : {{ estimate.totalHt | number_format(2, '.', ',') }} €
                    </div>

                    <div class="col-md-3 bg-light ml-auto p-3 ">
                       Total TTC : {{ estimate.totalTtc | number_format(2, '.', ',') }} €
                    </div>
                <a href="" class="mt-3 btn btn-info btn-block">Générer PDF </a>
            </div>
        </div>
    </div>
{% endblock %}